body {
    font: normal 20px Arial, Helvetica, sans-serif; /*aqui muda a font e o tamanho */
}

a {
    font-weight: bold;
    text-decoration: none;
    color: red;/*os links que o user não entrou ainda estaram em vermelho normal*/
}

a:visited {
    color: darkred;/*aqui estou mudando a cor dos inks que o user ja entrou*/
}
 
a:hover {
    text-decoration: underline;/*istou adiciona um ___ a o link que mouse passar em cima */
}

.especial:hover {
    color: white;
    background-color: rgb(0, 0, 0);/*Isto ira adicionar uma cor de fundo que so aparecera quando passar o mouse por cima apenis*/
    text-decoration: none;
}

.especial::before {
    content: '>>';
    font-weight: lighter;
}

.especial::after {
    content: '<<';
    font-weight: lighter;
}