div img {
    width: 100px;
    border-radius: 70px;
    margin-left: 50px;
    border: solid 2px yellow;
}
#meme{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-left: 60px;
}

h4 {
    color: rgb(255, 247, 0);
    font-size: large;
    margin-left: 20px;
}
