.peri {
    width: 200px;
    margin-left: 50px;
    
}
.mouse {
    width: 110px;
    margin-left: 50px;
    margin-top: 100px;
}
.valor {
    display: inline-block;
    width: 170px;
    height: 5px;
    text-align: left;

}